body {
    margin: auto;
    width: 50%;
    height: 875px;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F8F2E6; /* More tanish gray background */
    color: #3C3C3C; /* Dark grey text */
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #A64B4B; /* Set the background color with transparency */
    opacity: .95;
    backdrop-filter: blur(10px); /* Apply a blur effect */
    z-index: 999; /* Ensure the navbar appears above other elements */
    align-items: center; /* Center the text vertically */
    justify-content: center;
    font-weight: 600;
    
  }

#navbar nav {
    display: flex; /* Display the navbar items in a row */
    flex-direction: row;
    align-items: center;
}

.navbar-item {
    margin: 0 10px; /* Add spacing between the items */ 
    
    
}

.navbar-item a {
    text-decoration: none; /* Remove underline from links */
    color: white;
    font-size: 19px;
    
}

#navbar-item-contact {
    display: flex;
    border-radius: 5px; /* Add rounded corners to the border */
    background-color: cyan; /* Set the background color to match the border */
    border: 2px solid #4169E1;
    width: 80px;
    height: 30px; 
    justify-content: center;
    align-items: center;
}

#contact-main-section {
    margin-top: 100px;
}

#contact-main-header {
    font-size: 20px;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid #A64B4B; /* Lighter crimson border */
    box-shadow: 0px 0px 10px 0px rgba(178,34,34,0.1); /* Slight lighter crimson shadow */
}

#contact-form-header {
    align-self: center;
    margin-bottom: 5px;
   
}

.contact-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form-input-header {
    
    width: 200px;
    color: #A64B4B; /* Lighter crimson headers */
    padding-right: 40px;
}

.contact-form-inputbox {
    height: 40px;
}

.contact-form-inputbox:focus {
    /* Styles for the text box when focused */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: 2px solid #A64B4B;
    border: none;
  }

#contact-form-message-input {
    height: 150px;
}

#contact-form-message-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: 2px solid #A64B4B;
    border: none;
}




#contact-form-btn {
    background-color: #A64B4B;
    height: 50px;
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    
}

#contact-form-btn:hover {
    /* Styles for the button when hovered */
    background-color: #8B3535;
  }